// board.scss

.board-container {
    display: flex;
    justify-content: space-around;
    padding-top: var(--space-l);
}

.board-cell {
    width: 30px; // Match the width in grid-template-columns
    height: 30px; // Match the height in grid-template-rows
    border: 1px solid #ddd; // Border to visualize grid cells
    display: flex;
    align-items: center;
    justify-content: center;
}

.p1-board {
    display: grid;
    grid-template-columns: repeat(10, 30px); // Adjust the size based on your needs
    grid-template-rows: repeat(10, 30px);
    gap: 1px; // Space between cells (optional)

    
    .board-cell.water {
        background-color: rgb(23, 103, 223); // Different color for 'water'
    }
    
    .board-cell.ship {
        background-color: rgb(102, 204, 141); // Different color for ship
    }
}
.p2-board {
    // border: var(--border-dark);
    display: grid;
    grid-template-columns: repeat(10, 30px); // Adjust the size based on your needs
    grid-template-rows: repeat(10, 30px);
    gap: 1px; // Space between cells (optional)
    
    .board-cell.water {
        background-color: rgb(23, 103, 223); // Different color for 'water'
    }
    
    .board-cell.ship {
        background-color: rgb(23, 103, 223);// Different color for ship
    }
}

