// board.scss

.board-container {
    display: flex;
    justify-content: space-between;
    padding-top: var(--space-l);
    gap: var(--space-l);
}

.board-cell {
    // width: 50px; // Match the width in grid-template-columns
    // height: 50px; // Match the height in grid-template-rows
    border: 2px solid var(--color-primary); // Border to visualize grid cells
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background);
    cursor: pointer;
    // box-shadow: var(--shadow-large);
}

.p1-board {
    display: grid;
    grid-template-columns: repeat(10, 35px); // Adjust the size based on your needs
    grid-template-rows: repeat(10, 35px);
    gap: 1px;
    .board-cell {
        transition: background-color 0.3s ease; 
    }
    
    .board-cell.water {
        background-color: var(--color-primary-rotate); // Different color for 'water'
    }
    
    .board-cell.ship {
        background-color: var(--color-background); // Different color for ship
    }
    .board-cell.highlight-valid {
        background-color: green;
    }
    
    .board-cell.highlight-invalid {
        background-color: red;
    }
}
.p2-board {
    // border: var(--border-dark);
    display: grid;
    grid-template-columns: repeat(10, 35px); // Adjust the size based on your needs
    grid-template-rows: repeat(10, 35px);
    gap: 1px; // Space between cells (optional)

    .board-cell.water {
        background-color: var(--color-secondary-rotate);
        // background-color: rgb(23, 103, 223); // Different color for 'water'
    }
    
    .board-cell.ship {
        background-color: var(--color-background);
        // background-color: rgb(23, 103, 223);// Different color for ship
    }
}
