.content {
    grid-area: content;
    // margin-top: 300px;
    // border: var(--border-dark);
    border-radius: var(--border-radius);

    display: flex;
    flex-direction: column;
    // justify-content: space-around;
}