.content {
    grid-area: content;
    margin: var(--space-s);
    border: var(--border-dark);
    border-radius: var(--border-radius);
    background-image: url(../assets/images/ocean.jpg);
    background-size: cover; 
}